header {
  padding: 35px 15px 20px 15px;
}

.appTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Handlee-Regular";
  padding-bottom: 0px;
}

.L,
.G,
.B,
.Q,
.plus {
  opacity: 0.25;
}

.L {
  color: red;
  display: none;
}

.G {
  color: orange;
  display: none;
}

.B {
  color: yellow;
  display: none;
}

.T {
  color: green;
  display: none;
}

#Together {
  color: black;
  filter: drop-shadow(2px 2px 2px goldenrod);
}

.Q {
  color: blue;
  display: none;
}

.plus {
  color: purple;
  display: none;
}

.Together {
  display: flex;
  text-decoration: none;
}

.Together:hover {
  background-color: transparent;
}
