* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.error {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

nav a,
.buttons a,
button {
  padding: 8px 25px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #ccc;
  border-bottom: 3px solid #333;
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  margin: 10px;
}

.buttons a.primary,
button.primary {
  background-color: #5b905b;
  border-bottom: 3px solid green;
  color: white;
}

nav a:hover,
.buttons a:hover,
button:hover,
button.favorite:hover {
  border-bottom-width: 1px;
  background-color: #333;
  color: white;
}

button.favorite {
  background-color: yellow;
  border-bottom: 3px solid darkgoldenrod;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}

.grid {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.gridProfiles {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
}

.profile {
  flex-basis: 25%;
  border: 2px solid black;
}

.profileIcon {
  width: 100%;
  height: 300px;
  position: relative;
  padding: 0px;
  box-sizing: border-box;
  flex: 1 0 25%;
  text-align: center;
}

.profileIconLink {
  text-decoration: none;
}

.profilePicGrid {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}

.username {
  top: 0px;
  text-decoration: underline;
}

.interests {
  color: black;
  margin: auto;
  width: 100%;
  white-space: normal;
  position: absolute;
  color: white;
  max-height: 30px;
  min-height: 10px;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
}

.wrapper {
  top: 30px;
  width: 100%;
}

.faIcon {
  margin: 0px 5px;
  width: 100%;
  filter: drop-shadow(0 0 0.15rem black);
}

.checkbox {
  filter: none;
}

.wrapper .text {
  position: absolute;
  bottom: 0px;
  left: 50%;
  visibility: hidden;
  color: red;
}

.wrapper:hover .text {
  visibility: visible;
}

.profilePicConversations {
  max-width: 50px;
}
