* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 360px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

main {
  height: 100%;
  overflow: scroll;
}

header {
  padding: 45px 15px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
}

form div {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}

label {
  flex: 1;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
}

input {
  flex: 3;
  border: 1px solid darkgray;
  font-size: 20px;
}

select {
  background-color: white;
  border: 1px solid darkgray;
  text-align-last: center;
}

.bioInput,
.interestsInput {
  display: flex;
  flex-direction: column;
}

.bioInput label,
.interestsInput label {
  text-align: center;
}

textarea {
  width: 100%;
  margin: auto;
  border: 1px solid darkgray;
}

.interestCheckboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkbox {
  border: 1px solid red;
  flex-basis: 40%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1% 0;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}

.sortByForm {
  border: none;
}

#sortBy {
  padding: 0px;
  font-size: 0px;
}

section {
  border: 1px solid red;
  padding: 15px;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.error {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

nav a,
.buttons a,
.button,
button {
  padding: 8px 25px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #ccc;
  border-bottom: 3px solid #333;
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  margin: 10px;
}

.buttons a.primary,
button.primary {
  background-color: #5b905b;
  border-bottom: 3px solid green;
  color: white;
}

nav a:hover,
.buttons a:hover,
button:hover,
button.favorite:hover,
button.block:hover {
  border-bottom-width: 1px;
  background-color: #333;
  color: white;
}

button.favorite {
  background-color: yellow;
  border-bottom: 3px solid darkgoldenrod;
  color: black;
}

button.block {
  background-color: red;
  border-bottom: 3px solid darkred;
  color: black;
}

.grid {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.profiles {
  margin-top: 120px;
  padding: 0px;
  overflow: scroll;
}

.gridProfiles {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}

.profile {
  height: 200px;
  flex-basis: 50%;
  border: 2px solid black;
}

.profileIcon {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px;
}

.profileIconLink {
  text-decoration: none;
}

.profilePicGrid {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}

.profilePic {
  width: 100%;
  height: 100%;
}

.interestsGrid {
  color: white;
  margin: auto;
  width: 100%;
  white-space: normal;
  position: absolute;
  background-color: black;
  max-height: 30px;
  min-height: 10px;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
}

.faIcon,
.faIconGrid,
.faIconProfile {
  margin: 0px 5px;
  width: 100%;
}

.faIconGrid {
  filter: drop-shadow(0 0 0.15rem black);
}

.userProfile {
  overflow: scroll;
  max-width: 500px;
  margin: auto;
}

.profilePic {
  max-width: 500px;
  margin: auto;
}

.faIconProfile {
  cursor: pointer;
}

.interestsProfile ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: scroll;
}

.interestWrapper {
  position: relative;
}

.interestText {
  background-color: black;
  color: red;
  position: absolute;
  opacity: 0;
  display: none;
}

.interestText:hover {
  opacity: 1;
}

.buttonsProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.buttonsProfile button,
.buttonsProfile a {
  flex-basis: 40%;
}

.messageList > nav {
  height: 100px;
}

.conversations {
  margin-top: 100px;
}

.profilePicConversations {
  max-width: 50px;
}

@media (orientation: landscape) {
  .profile {
    flex-basis: 25%;
  }
}
