* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.error {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.buttons a,
button {
  padding: 8px 25px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #ccc;
  border-bottom: 3px solid #333;
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  margin: 10px;
}

.buttons a.primary,
button.primary {
  background-color: #5b905b;
  border-bottom: 3px solid green;
  color: white;
}

.buttons a:hover,
button:hover {
  border-bottom-width: 1px;
  background-color: #333;
  color: white;
}
