button.favorite {
  background-color: yellow;
  border-bottom: 3px solid darkgoldenrod;
  color: black;
}

button.block {
  background-color: red;
  border-bottom: 3px solid darkred;
  color: black;
}

.UserProfile {
  overflow: scroll;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.profilePicUserProfile {
  max-width: 75%;
  height: auto;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}

.profilePicUserProfile > img {
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.faIconProfile {
  cursor: pointer;
}

.interestsProfile ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.interestWrapper {
  position: relative;
}

.interestTextProfile {
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  font-size: 20px;
}

.interestTextProfile:hover {
  opacity: 1;
}

.bio {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

nav .buttonsProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.buttonsProfile button,
.buttonsProfile a {
  flex-basis: 40%;
}
